.register-wrapper {
  padding: 40px 20px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: #f9f9f9;
  min-height: calc(100vh - 200px);
}

.register-title {
  max-width: 400px;
  margin-inline: auto;
  color: #833132;
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.register-subtitle {
  max-width: 350px;
  margin-inline: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 1.1rem;
}

.credentials-form-card {
  max-width: 700px;
  margin-inline: auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  width: 100%;
  max-width: 500px;
  border-top: 5px solid #833132;
  box-sizing: border-box;
}

.credentials-form-footer {
  margin-top: 25px;
  font-size: 0.9em;
  border-top: 1px solid #eee;
  padding-top: 15px;
  text-align: center;
}

.credentials-form-footer p {
  margin: 0;
  color: #666;
  font-family: 'Josefin Sans', sans-serif;
}

.credentials-form-footer a {
  color: #833132;
  text-decoration: none;
  font-weight: bold;
}

.credentials-form-footer a:hover {
  text-decoration: underline;
}