@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Roboto';
}

p, li {
  font-family: 'Poppins';
}

html, body {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.generic-btn {
  margin: 1.5vh;
  padding: 12px 25px;
  background: #833132;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-family: 'Poppins';
  font-size: clamp(0.8rem, 3vw, 1.2rem);
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.generic-btn:hover {
  background: #851a1b;
  transform: translateY(-2px);
}

.h1-title {
  margin: 20px auto;
  max-width: 400px;
  margin-inline: auto;
  color: #833132;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.h2-title {
  margin: 20px auto;
  max-width: 400px;
  margin-inline: auto;
  color: #833132;
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.p-text {
    max-width: 350px;
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 1.1rem;
}