/* Importacion de fuentes Roboto y Josefin Sans*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Colores a usar
   Color morena #782c2d


*/

body {
    background-color: #d8ffe2;
}

/* Barra superior donde se encuentra el titulo y links */
/* ================= TOPBAR ================= */

.topbar {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: stretch;
    background: linear-gradient(90deg, #57c574, #42c7b5);
    padding: 0 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */
.topbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: auto;
}

/* Título */
.topbar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    color: #782c2d;
    font-weight: 600;
    font-size: clamp(1.4rem, 4vw, 2.4rem);
    text-align: center;
}

/* Links */
.topbar-links-section {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

/* Botones */
.topbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 100%;
    font-family: 'Josefin Sans';
    font-size: clamp(0.95rem, 2.5vw, 1.2rem);
    color: #394644;
    text-decoration: none;
    transition: 0.3s ease;
}

.topbar-link:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

/* ================= MENÚ HAMBURGUESA ================= */

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
}

#logo-img {
    border-radius: 50%;
    border: 6px solid #782c2d;
    margin-bottom: 10px;
    height: 70px;
    width: auto;
}

/* En caso de que se visualize en celular */
@media (max-width: 600px) {
    .logo {
        height: 35px;
    }
}

h1 {
    font-family: 'Roboto';
    /* color: rgb(120, 44, 45) */
    font-size: clamp(1.6rem, 5vw, 3rem);
}

p {
    font-family: 'Josefin Sans';
    color: rgb(74, 57, 138);
    font-size: clamp(0.95rem, 2.5vw, 1.2rem);
}