body{
    margin:0;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

object, embed{
    max-width:120%;
    width: 800px;
    height: 450px;
}