* {
    text-align: center;
}

#hero {
    background-image: url("https://images.unsplash.com/photo-1663380984443-bc88fe4bb2ba");
    background-size: cover;
    background-position: center;
    
    width: 100%;
    min-height: 30vh;
    padding: 1.0rem 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

#hero h1,
#hero p {
    max-width: 600px;
    margin-left: 0%;
}

#hero h1 {
    color: white;
    text-transform: uppercase;
    font-size: clamp(1.3rem, 5vw, 2.8rem);
    margin-bottom: 10px;
}

#hero p {
    color: white;
    font-size: clamp(0.8rem, 4vw, 1.6rem);
    margin-bottom: 1vh;
}

.hero-btns {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 1vh 0 1.5vh 0;
}

.hero-btn {
    margin: 0 15px 0 15px;
    padding: 12px 25px;
    background: #833132;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-family: 'Poppins';
    transition: 0.3s;
    cursor: pointer;
}

.hero-btn:hover {
    background: #5f2324;
}